alias gs='git status'
alias gb='git branch'
alias ga='git add -A'
alias gc='git commit'
alias gss='git stash save'
alias gsa='git stash apply'
alias gbase='git pull --rebase origin'
alias gd='git diff'
alias go='git checkout '
alias gk='gitk --all&'
alias gx='gitx --all'

alias got='git'
alias get='git'
