alias gs='git status'
alias gb='git branch'
alias ga='git add -A'
alias gc='git commit'
alias gss='git stash save'
alias gsa='git stash apply'
alias gbase='git pull --rebase origin'
alias gd='git diff'
alias gco='git checkout'
alias gk='gitk --all&'
alias gx='gitx --all'
alias gp='git push origin master'
alias gcl='git clone'
alias gu='git up'
alias gf='git fetch'

alias got='git'
alias get='git'
alias git='hub'

alias ls='ls -GFh'
alias la='ls -GFha'
alias lc='ls -lcra'
alias clc='clear'
alias rm='rm -i'

alias mit='license-mit create -a Niraj\ Pant -y 2014'
